<template>
  <div class='topic-wrapper'>
    <el-card>

      <el-row>
        <!--循环展示热搜列表，全部都以el-card的样式呈现-->
        <el-col :span="6" v-for="(o, index) in 3" :key="o" :offset="index > 0 ? 2 : 0">
          <!--热搜列表详情-->
          <el-card class="topics" :body-style="{ padding: '0px' }">
            <!--头部-->
            <div class="topic-header">
              <!--头部图片-->
              <el-image style="margin-top:4px;margin-left:4px;width: 54px; height: 50px" :src="picList[index]"></el-image>
              <!--头部标题-->
              <span style="display:inline-block;width:60%;margin-left:20px">{{titleList[index]}}</span>
              <span style="margin-left:10px">热度</span>
            </div>
            <!--内容-->
            <div class='topic-content' style="padding-left: 14px;padding-top: 2px">
              <!--循环获取内容Info-->
              <div class="per-content" v-for="(it,index) in allTopicList[index].topicInfo" :key="index">
                <!--排名-->
                <span class="topic-rank">
                  {{it.rank}}
                </span>
                <!--超链接和标题-->
                <a :href="it.href" class="topic-title">{{it.topicTitle}}</a>
                <!--热度-->
                <span class="topic-hot">
                  {{it.hot}}
                </span>
              </div>
            </div>
            <!--底部-->
            <div class="topic-footer">
              <span style="margin-left:80px;font-size:14px">分钟前</span>
              <span style="margin-left:200px;font-size:14px">{{allTopicList[index].topicTitleCh}}</span>
              <span style="margin-left:15px;font-size:14px">源网站</span>
            </div>
          </el-card>
        </el-col>
      </el-row>

    </el-card>

    <!--分页-->
    <!-- <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage4"
      :page-sizes="[100, 200, 300, 400]"
      :page-size="100"
      layout="total, sizes, prev, pager, next, jumper"
      :total="400" hidden>
    </el-pagination> -->

  </div>

</template>

<script>
export default {
  name: 'Topic',
  data() {
    return {
      //所有热搜列表
      allTopicList: [],
      //热搜标题榜
      titleList: ['百度热搜榜', '微博热搜榜', '知乎热搜榜'],
      //热搜Logo列表
      picList: [
        //require('@/assets/baidu.png'),
        //require('@/assets/weibo.png'),
       // require('@/assets/zhihu.png'),
        //require('@/assets/login-bg.jpg')
      ]
    }
  },
  methods: {
    //获取所有热搜
    async getAllTopics() {
      const { data: res } = await this.$axios.get("/getAllTopics")
      this.allTopicList = res.data
      console.log(this.allTopicList)
    }
  },
  created() {
    this.getAllTopics();
  }
}
</script>

<style>
.topic-whole {
  width: 454px;
  height: 505px;
  background: skyblue;
}

.topic-content {
  height: 80%;
  margin-top: 10px;
  line-height: 1.6;
  overflow-y: scroll;
}

.per-content {
  display: inline-block;
  padding-bottom: 5px;
  padding: 0;
  margin-top: 15px;
  width: 100%;
}

.topic-rank {
  float: left;
  margin-right: 20px;
  height: 30px;
  width: 3%;
}

.topic-hot {
  display: inline-block;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 10px;
}

.hot {
  width: 30%;
}

.el-col {
  height: 505px;
}

.topics {
  height: 505px;
  width: 454px;
}

.el-card__body {
  height: 100%;
}

.el-link {
  margin: 0;
  padding: 0;
}

a {
  color: #409eff;
  font-size: 14px;
}

.topic-header {
  height: 9%;
}

.topic-title {
  float: left;
  width: 73%;
  text-decoration: none;
}

.el-card {
  margin: 0;
  padding: 0;
}

.topic-footer {
  position: absolute;
  height: 10%;
  width: 454px;
  margin-top: 10px;
}

/*css主要部分的样式*/
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
  width: 2px; /*对垂直流动条有效*/
  height: 0px; /*对水平流动条有效*/
}

/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 3px;
}

/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: skyblue;
}
</style>