<template>
    <div class='dashBoard-content'>
      <div class='tags'>
        <el-card>
          <div>
            个人项目，集管理系统、热搜集合和持续集成为一体
          </div>
        </el-card>
      </div>
      <div class='main'></div>
    </div>
</template>

<script>
export default {
  
}
</script>

<style>

.dashBoard-content {
  
  
}
</style>