<template>
  <div class='header-wrapper'>
    <div class='header-left'>
      管理系统
    </div>
    <div class='header-right'>
      <ul class='collapse'>
        <li>

        </li>
      </ul>
      <ul class='right-user-info'>
        <li>a</li>
        <li>b</li>
        <li><img src='../../assets/logo.png' style="width: 30px;height:30px"></li>
        <li>admin</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style>
.header-wrapper {
  position: relative;
  height: 70px;
  width: 100%;
  font-size: 20px;
  
}

.header-left {
  background-color: blanchedalmond;
  line-height: 70px;
  font-size: 20px;
  text-align: center;
  width: 251px;
  height: 100%;
  float: left;
  font-weight: bold
}

.header-right {
  overflow: hidden;
  margin-left: 250px;
  height: 70px;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.collapse {
  float: left;
  background-color: skyblue;
  height: 100%;
  width: 50px;
}

.right-user-info {
  float: right;
  height: 100%;
  width: 400px;
  background-color: red;
}

.right-user-info li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
</style>