<template>
  <div class="siderBar-wrapper">
    <el-menu background-color="#324157"  active-text-color="#ffd04b" router default-active="0" unique-opened>
      <el-submenu v-for="children in permissionList" :key="children.pmId" :index="children.pmId+''">
        <template slot="title">
          <i class="el-icon-location"></i>
          <span>{{children.pmName}}</span>
        </template>
        <el-menu-item v-for="item in children.children" :key='item.pmId' :index="item.pmPath">
          <template slot="title">
            <i class="el-icon-menu"></i>
            <span>{{item.pmName}}</span>
          </template>
        </el-menu-item>
      </el-submenu>
    </el-menu>
  </div>
</template>



<script>
export default {
  name: "siderBar",
  created() {
    this.getPermissonList()
  },
  data() {
    return {
      permissionList: [],
    }
  },
  methods: {
    async getPermissonList(){
      const {data: res} = await this.$axios.get('/rights/permission')
      this.permissionList = res.data
      //console.log(this.permissionList)
    }
  }
};
</script>

<style>
.siderBar-wrapper {
  position: absolute;
  top: 70px;
  bottom: 0;
  background-color: rgb(50, 65, 87);
}

.el-menu {
  background-color: rgb(50, 65, 87);
  width: 250px;
}

.el-submenu {
  padding: 0 20px;
}

.el-submenu span {
  color: rgb(191, 203, 217);
}
</style>