<template>
  <div class='home-wrapper'>
    <Header></Header>
    <SiderBar></SiderBar>
    <div class='dashBoard-wrapper'>
      <div class='content'>
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import Header from '@/components/Menus/header'
import SiderBar from '@/components/Menus/siderBar'
export default {
  name: '',
  components: {
    Header,
    SiderBar
  }
}
</script>

<style>
.home-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.dashBoard-wrapper {
  position: absolute;
  background: #f0f0f0;
  left: 250px;
  right: 0;
  top: 70px;
  bottom: 0;
}

.content {
  width: auto;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
}
</style>