<template>
   <el-card>
     <ul class="infinite-list" v-infinite-scroll="load" style="overflow:auto">
    <li v-for="i in count" class="infinite-list-item" :key="i.index">{{ i }}</li>
  </ul>
   </el-card>
</template>

<script>
  export default {
    data () {
    return {
      count: 0
    }
  },
    methods: {
    load () {
        this.count += 2
      }
  }
  }
</script>

<style>

</style>