<template>
  <div class='user-wrapper'>
    <el-card>
      <!--面包屑导航-->
      <el-breadcrumb separator="/">
        <span style="float: left;margin-right: 15px" class='el-icon-lock'></span>
        <el-breadcrumb-item :to="{ path: '/dashBoard' }">权限中心</el-breadcrumb-item>
        <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      </el-breadcrumb>

      <!--面包屑导航-->
      <div class='top-function-area'>
        <el-button id='delete-all-btn' type="primary" class='el-icon-plus' @click='addOrEditUser(0)'>新增</el-button>
        <el-button type="primary" class='el-icon-delete' @click='deleteUsers'>批量删除</el-button>
        <el-input v-model='searchInput' placeholder="请输入内容" clearable @clear='getUserList'></el-input>
        <el-button icon="el-icon-search" @click='searchUsers'>搜索</el-button>
      </div>

      <!--面包屑导航-->
      <el-table :data="userList" style="width: 100%" :row-key='getRow' @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="55">
        </el-table-column>
        <el-table-column prop="userName" label="用户名" width="140">
        </el-table-column>
        <el-table-column prop="userGroupId" label="所属组织" width="180">
        </el-table-column>
        <el-table-column prop="userEmail" label="邮箱" width="240">
        </el-table-column>
        <el-table-column prop="userMobile" label="手机号" width="220">
        </el-table-column>
        <el-table-column prop="type" label="类型" width="180">
        </el-table-column>
        <el-table-column prop="state" label="状态" width="200">
          <template slot-scope="scope">
            <div v-if="scope.row.state == 0">
              <span class='el-icon-circle-check' style="color:blue"></span>
              <span>正常</span>
            </div>
            <div v-else>
              <span class='el-icon-circle-close'></span>
              <span>冻结</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="text" style="margin-left: 0px" @click='addOrEditUser(scope.row)'>编辑</el-button>
            <el-button type="text" @click='disableOrEnableUser(scope.row,diableOrEnable.disable)'>冻结</el-button>
            <el-dropdown placement='bottom-start' style="margin-left: 18px">
              <span style="color: #409EFF" class="el-dropdown-link">
                更多<i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item icon="el-icon-s-tools" command="a">同步</el-dropdown-item>
                <el-dropdown-item icon="el-icon-plus" @click.native="deleteUser(scope.row.userId)">删除</el-dropdown-item>
                <el-dropdown-item icon="el-icon-plus" @click.native="disableOrEnableUser(scope.row,diableOrEnable.enable)">解冻</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <!--面包屑导航-->
    <el-dialog :title="addOrEditUserTitle" :visible.sync="addAndEditUserDialogVisible" width="35%" @close="resetAddOrEditDialog">
      <el-alert title="初始密码为'123456'，请尽快登录该账号，并按照指引修改密码" type="success">
      </el-alert>
      <el-form ref='addOrEditFormRef' :model='addOrEditForm' style="margin-left: 20px;margin-top: 20px">
        <el-form-item label="用户名">
          <el-input v-model="addOrEditForm.userName"></el-input>
        </el-form-item>
        <el-form-item label="部门">
          <el-input v-model="addOrEditForm.userGroupId"></el-input>
        </el-form-item>
        <el-form-item label="邮箱">
          <el-input v-model="addOrEditForm.userEmail"></el-input>
        </el-form-item>
        <el-form-item label="手机">
          <el-input v-model="addOrEditForm.userMobile"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addAndEditUserDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitAddOrEditForm(addOrEditUserTitle,addOrEditForm.userId)">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'User',
  data() {
    return {
      //用户列表
      userList: [],
      //新增和编辑用户对话框
      addAndEditUserDialogVisible: false,
      //新增或者编辑用户标题
      addOrEditUserTitle: '',
      //新增或编辑表单数据
      addOrEditForm: {
        userName: '',
        userMobile: '',
        userId: 0,
        userGroupId: '',
        userEmail: '',
        password: '123456'
      },
      //计数器，统计是否清空新增或编辑对话框
      counter: 0,
      //冻结或解冻
      diableOrEnable: {
        disable: 'disable',
        enable: 'enable'
      },
      //通过用户名搜索用户信息
      searchInput: ''
    }
  },
  created() {
    //页面加载后获取用户列表并展示
    this.getUserList()
  },
  watch: {
    addAndEditUserDialogVisible: function (counter) {
    }
  },
  methods: {
    //获取用户列表
    async getUserList() {
      const { data: res } = await this.$axios.get('/user')
      if (res.meta.code != 200) {
        this.$message.error(res.meta.msg)
      } else {
        this.userList = res.data
      }
    },
    //打开新增或者编辑用户对话框并编辑信息
    addOrEditUser(user) {
      if (user == 0) {
        this.addOrEditUserTitle = '新增用户'
        this.addAndEditUserDialogVisible = true
      } else {
        this.addOrEditUserTitle = '编辑用户'
        this.addAndEditUserDialogVisible = true
        this.addOrEditForm.userId = user.userId
        this.addOrEditForm.userName = user.userName
        this.addOrEditForm.userMobile = user.userMobile
      }
    },
    //重置新增或者编辑用户对话框
    resetAddOrEditDialog() {
      this.$refs.addOrEditFormRef.resetFields()
    },
    //提交新增或者编辑用户表单
    async submitAddOrEditForm(addOrEditUserTitle, userId) {
      if (addOrEditUserTitle == "新增用户") {
        const { data: res } = await this.$axios.post('addUser', this.addOrEditForm)
        if (res.meta.code != 200) {
          this.$message.error('新增用户失败')
        } else {
          this.$message.success(res.meta.msg)
          this.addAndEditUserDialogVisible = false
          this.getUserList()
        }
      } else {
        const { data: res } = await this.$axios.put('editUser/' + userId, this.addOrEditForm)
        if (res.meta.code != 200) {
          this.$message.error('编辑用户失败')
        } else {
          this.$message.success(res.meta.msg)
          this.addAndEditUserDialogVisible = false
          this.getUserList()
        }
      }
    },
    //删除用户
    deleteUser(userId) {
      this.$confirm('确定删除此用户？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(async () => {
        const { data: res } = await this.$axios.delete('deleteUser/' + userId)
        if (res.meta.code != 200) {
          this.$message.error('删除用户失败！')
        } else {
          this.$message.success(res.meta.msg)
          this.getUserList()
        }
      })
    },
    //删除多个用户
    deleteUsers(){
      
    },
    getRow(row){
      //console.log(row)
    },
    //
    handleSelectionChange(val){
      console.log(val)
    },
    //冻结用户
    disableOrEnableUser(user, diableOrEnable) {
      if (diableOrEnable == 'disable') {
        if (user.state == 1)
          return;
        this.$confirm('确定冻结此用户？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.disableOrEnable(user, diableOrEnable)
        })
      } else {
        if (user.state == 0)
          return;
        this.$confirm('确定解冻此用户？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.disableOrEnable(user, diableOrEnable)
        })
      }
    },
    async disableOrEnable(user, disableOrEnable) {
      const { data: res } = await this.$axios.get('disableOrEnableUser/' + disableOrEnable + '/' + user.userId)
      if (res.meta.code != 200) {
        this.$message.error(res.meta.msg)
      } else {
        this.$message.success(res.meta.msg)
        this.getUserList()
      }
    },
    //搜索用户信息
    async searchUsers(){
      if(this.searchInput == '')
        this.getUserList()
      else{
        const {data: res} = await this.$axios.get('searchUsers/' + this.searchInput)
        if(res.meta.code != 200){
          this.$message.error('获取用户信息失败')
        }else{
          this.userList = res.data
        }
      }
    }
  }
}
</script>

<style scoped>
.top-function-area {
  margin-top: 20px;
  margin-left: 28px;
  margin-bottom: 40px;
}

#delete-all-btn {
  margin-left: 0;
}

.el-input {
  width: 250px;
  margin-left: 18px;
}

.el-button {
  margin-left: 18px;
}

.el-table {
  margin-left: 18px;
}
</style>