<template>
  <div class='easyPipe-wrapper'>
    <el-card>
      <!--面包屑导航-->
      <el-breadcrumb separator="/">
        <span style="float: left;margin-right: 15px" class='el-icon-lock'></span>
        <el-breadcrumb-item :to="{ path: '/dashBoard' }">持续集成</el-breadcrumb-item>
        <el-breadcrumb-item>简易流水线</el-breadcrumb-item>
      </el-breadcrumb>

      <!--面包屑导航-->
      <div class='top-function-area'>
        <el-button id='delete-all-btn' type="primary" class='el-icon-plus' @click='addPipe'>新增</el-button>
        <el-button type="primary" class='el-icon-delete'>批量删除</el-button>
        <!-- <el-input v-model='addProjectInput' placeholder="请输入内容" clearable ></el-input> -->
        <el-button icon="el-icon-search">搜索</el-button>
      </div>
    </el-card>
    <div class='pipeTitle' :hidden='pipeIsHidden'>
      <el-table :data="pipeTable" style="width: 100%;margin-left:100px">
        <el-table-column prop="pipeName" label="流水线名称" width="300">
        </el-table-column>
        <el-table-column prop="excuteTime" label="构建次数" width="300">
        </el-table-column>
        <el-table-column prop="modTime" label="最新更新时间" width="300">
        </el-table-column>
        <el-table-column prop="excuteState" label="构建状态" width="300">
        </el-table-column>
        <el-table-column label="操作" width="300">
          <template slot-scope="scope">
            <el-button type='text' @click='pushToExecution'>日志</el-button>
            <el-button type='text'>操作</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <el-card>

    </el-card>

    <!--面包屑导航-->
    <el-dialog title="添加项目" :visible.sync="addProjectDialogVisible" width="30%">
      <el-input v-model="addProjectInput" placeholder="请输入项目名称"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addProjectDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitAddProject">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'easyPipe',
  data() {
    return {
      //添加项目
      addProjectDialogVisible: false,
      //添加项目输入框
      addProjectInput: '',
      addProjectForm: {
        //userId: 0,
        projectName: ''
      },
      //是否隐藏流水线展示栏
      pipeIsHidden: false,
      //流水线展示
      pipeTable: [
        {
        pipeName: '',
        excuteTime: 0,
        modTime: '',
        excuteState: ''
      }
      ]
    }
  },
  created() {
    this.getEasyPipeList()
  },
  methods: {
    //添加简易流水线
    addPipe() {
      this.addProjectDialogVisible = true
    },
    //提交添加简易流水线表单
    async submitAddProject() {
      //this.addProjectForm.userId = 
      this.addProjectForm.projectName = this.addProjectInput
      const { data: res } = await this.$axios.get('createProject/' + this.addProjectInput)
      if (res.meta.code != 200) {
        return this.$message.error(res.meta.msg)
      } else {
        this.addProjectDialogVisible = false
        this.$message.success(res.meta.msg)
        this.pipeTable = res.data
        this.pipeIsHidden = false
      }
    },
    //加载简易流水线列表
    async getEasyPipeList(){
      const {data : res} = await this.$axios.get('easyPipeList')
      this.pipeTable = res.data
    },
    //跳转至执行流水线页面
    pushToExecution(){
      this.$router.push('/pipeExecution')
    }
  }
}
</script>

<style>
.top-function-area {
  margin-top: 20px;
  margin-left: 28px;
  margin-bottom: 40px;
}

#delete-all-btn {
  margin-left: 0;
}

.el-input {
  width: 250px;
  margin-left: 18px;
}

.el-button {
  margin-left: 18px;
}

.el-table {
  margin-left: 18px;
}

.pipeTitle {
  
  width: 100%;
  background-color: white;
  overflow: hidden;
  margin-bottom: 10px;
}


</style>