<template>
  <div>
    <el-card style="background-color:grey">
      <!--面包屑导航-->
      <el-breadcrumb separator="/">
        <span style="float: left;margin-right: 15px" class='el-icon-lock'></span>
        <el-breadcrumb-item :to="{ path: '/dashBoard' }">持续集成</el-breadcrumb-item>
        <el-breadcrumb-item>简易流水线</el-breadcrumb-item>
        <el-breadcrumb-item>流水线构建</el-breadcrumb-item>
      </el-breadcrumb>

      <!--Tab标签页-->
      <el-tabs v-model="activeName">
        <el-tab-pane label="应用构建流程" name="first">应用构建流程</el-tab-pane>
        <el-tab-pane label="执行记录" name="second">执行记录</el-tab-pane>
      </el-tabs>

      <!--Tab标签页-->
      <el-card v-model="activeName">
        <el-button type='primary'>立即构建</el-button>
        <el-button type='primary'>中止</el-button>
        流水线名称
        <el-select v-model="value" placeholder="请选择">
          <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" :disabled="item.disabled">
          </el-option>
        </el-select>
      </el-card>

      <el-row class='row' :gutter='20'>
        <el-col class='col' :span='6'>
          <el-card>
            <div class='card-left'></div>
            <div class='card-right'></div>
          </el-card>
          <img src='../../assets/arrow-right.png'>
        </el-col>
        <el-col :span='6'>
          <el-card>ss</el-card>
          <img src='../../assets/arrow-right.png'>
        </el-col>
        <el-col :span='6'>
          <el-card>ss</el-card>
          <img src='../../assets/arrow-right.png'>
        </el-col>
      </el-row>
      <el-row class='row' :gutter='20'>
        <el-col class='col' :span='6'>
          <el-card>
            <div class='card-left'></div>
            <div class='card-right'></div>
          </el-card>
          <img src='../../assets/arrow-right.png'>
        </el-col>
        <el-col :span='6'>
          <el-card>ss</el-card>
          <img src='../../assets/arrow-right.png'>
        </el-col>
        <el-col :span='6'>
          <el-card>ss</el-card>
          <img src='../../assets/arrow-right.png'>
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>

<script>
export default {
  name: '',
  data() {
    return {
      activeName: 'first',
      options: [{
        value: '选项1',
        label: '仓库源码'
      }, {
        value: '选项2',
        label: '上传服务包',
        disabled: true
      }, {
        value: '选项3',
        label: '上传镜像'
      }],
      value: ''
    }
  }
}
</script>

<style>
.row {
  margin-top: 30px;
}

img {
  width: 25px;
  height: 17px;
  float: left;
  margin-top: 90px;
  margin-left: 20px;
}

.row .el-col {
  margin-left: 30px;
  width: 500px;
  margin-top: 40px;
}

.row .el-col .el-card {
  height: 200px;
  width: 340px;
  background-color: skyblue;
  float: left;
}

.card-left {
  float: left;
  width: 100px;
  height: 242px;
  background-color: red;
}

.class-right {
  width: 100px;
  height: 242px;
  background-color: green;
}
</style>