<template>
  <div class="login-wrapper">
    <!--登录表单-->
    <div class='login-form-area'>
      <div class="login-form">
        <!--标题-->
        <span class="login-header"> 管理系统 </span>
        <!--输入表单-->
        <el-form ref="loginFormRef" :model="loginForm" label-width="120px">
          <!--用户名-->
          <el-form-item label="用户名">
            <el-input v-model="loginForm.userName"></el-input>
          </el-form-item>
          <!--密码-->
          <el-form-item label="密码">
            <el-input v-model="loginForm.password"></el-input>
          </el-form-item>
          <!--验证码-->
          <div class='captcha-div'>
            <el-form-item label="验证码" class='captchaInput'>
              <el-input v-model="loginForm.name"></el-input>
            </el-form-item>
            <!--验证码生成-->
            <div class="captcha" @click="refreshCode">
              <!--验证码组件-->
              <s-identify :identifyCode="identifyCode"></s-identify>
            </div>
          </div>
          <el-button class='submitBtn' type='primary' @click='submitLoginForm'>登录</el-button>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import SIdentify from "@/components/sidentify";
export default {
  name: "",
  components: { SIdentify },
  data() {
    return {
      loginForm: {
        userName: "admin",
        password: "123456",
      },
      identifyCodes: "123456",
      identifyCode: "",
      code: "",
    };
  },
  mounted() {
    this.identifyCode = "";
    this.makeCode(this.identifyCodes, 4);
  },
  created() {
    this.refreshCode();
  },
  methods: {
    //提交登录表单
    async submitLoginForm() {
      const { data: res } = await this.$axios.post('/login', this.loginForm)
      if(res.meta.code != 200){
        this.$message.error(res.meta.msg)
      }else {
        this.$message.success("登录成功!")
        this.$router.push('/home')
      }
    },
    //验证码
    randomNum(min, max) {
      return Math.floor(Math.random() * (max - min) + min);
    },

    refreshCode() {
      this.identifyCode = "";
      this.makeCode(this.identifyCodes, 4);
    },
    makeCode(o, l) {
      for (let i = 0; i < l; i++) {
        this.identifyCode += this.identifyCodes[
          this.randomNum(0, this.identifyCodes.length)
        ];
      }
      //console.log(this.identifyCode);
    },
  },
};
</script>

<style scoped>
.login-wrapper {
  background-image: url(../../assets/login-bg.jpg);
  height: 100%;
  width: 100%;
  background-size: 100%;
  margin-top: 0px;
}

.login-form-area {
  position: relative;
  height: 320px;
  margin: 0 auto;
}

.login-form {
  width: 380px;
  margin-top: 160px !important;
  margin: auto !important;
}

span {
  display: block;
  font-size: 18px;
  margin-left: 180px;
  margin-bottom: 15px;
}

/*验证码样式*/
.code {
  width: 124px;
  height: 31px;
  border: 1px solid rgba(186, 186, 186, 1);
}

.captcha-div {
  height: 40px;
}

.captchaInput {
  width: 280px;
  float: left;
}

.captcha {
  cursor: pointer;
  float: right;
  margin-top: 0;
}

.submitBtn {
  margin-top: 5px;
  width: 260px;
  margin-left: 120px;
}
</style>